body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("./images/weather.jpeg") no-repeat center center fixed;
    background-size: cover;
    
}

.weather
{
    text-align: center;
    width: 70%;
    padding: 3% 5%;
    background-color: white;
    margin: 3rem auto;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    
}

.search-input
{
    width: 30%;
    padding: 10px;
}

.search-btn
{
    background-color: darkcyan;
    border: none;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
}

.forecast-section
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
}

.forecast-container
{
    padding: 3%;
    margin: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 700px)
{
    .forecast-section
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3rem;
    }
}